//--- Color
$white: #FFFFFF;
$green: #1A6332;
$background: #ffffff;
$primary: #1A6332;
$text: #424242;
$shade: #bbbbbb;

//--- Transition duration
$transition-duration: 0.6s;



//--- Media
@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin large-mobile {
  @media only screen and (max-width: 767px) and (min-width: 481px) {
    @content;
  }
}

@mixin large-mobile-landscape {
  @media only screen and (max-width: 767px) and (min-width: 481px) and (orientation: landscape) {
    @content;
  }
}

@mixin mobile-landscape {
  @media only screen and (max-width: 992px) and (min-width: 601px) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    @content;
  }
}

@mixin nonTouchableDevice {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}