@import './_variable.scss';

.appBar {
  background-color: $background  !important;
  // padding: 9px;
  box-shadow: none !important;
  z-index: 1150 !important;
  border-bottom: 0.5px solid #96999C;
  

  .toolBar {
    display: flex;
    margin-left: 300px;
    // justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .toolBarHide { 
    display: flex;
    margin-left: 60px;
    transition: all 0.3s ease-in-out;
  }

  .boxLogo {
    margin-left: 20px;
    width: 200px;

    .logo {
      width: 100%;
    }
  }

  .toggleBtn:hover {
    cursor: pointer;
  }

  .headerTitle {
    color: #053e72 !important;
    margin: 0;
    margin-top: -5px;
    margin-left: 30px;
  }

  .navBar {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    .link {
      color: #030d33 !important;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.6rem;
      text-decoration: none;
      position: relative;
    }

    .link:hover:after,
    .link:active::after {
      transform: scaleX(1);
    }

    .link:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2rem;
      background-color: #1976d2;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: all 0.4s;
    }

    .activeLink {
      color: #030d33 !important;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.6rem;
      text-decoration: none;
      position: relative;
    }

    .activeLink:after {
      background-color: #1976d2;
      bottom: 0;
      content: '';
      height: 0.2rem;
      left: 0;
      position: absolute;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: bottom left;
      transform-origin: bottom left;
      transition: all 0.4s;
      width: 100%;
    }
  }

  .menuItem {
    width: 200px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    &.menuItemLogOut {
      color: #fa4a0c;
    }

    svg {
      margin-right: 20px;
    }
  }

  .textContainer {
    margin-right: 15px;
    margin-left: 15px;

    .userName {
      color: #614C4C;
      font-weight: 700 !important;
      font-size: 14px !important;
      line-height: 21px !important;
      text-align: start;
      margin: 0;
    }

    .userRole {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #ce1126;
      margin: 5px 0 0;
      text-align: start;
    }
  }
}

@media (max-width: 899px) {
  
    // position: fixed;
    .iconMenu {
      display: none !important;
    }
    .toolBar {
      margin-left: 0 !important;
    }
}