.box {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin: 0 29px;
  padding: 30px;
}

.titleHeader {
  color: #222127;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0.953846px;
}