@import '../../assets/css/_variable.scss';

.breadCrumbsContainer {
    margin-left: 303px !important;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #614c4c;
    font-weight: 700 !important;
    font-size: 19px !important;
    cursor: pointer;
}

.appBar {
    background-color: #ffff !important;
    z-index: 1049 !important;
    height: 70px;
    box-shadow: unset !important;
    border-bottom: 1px solid #96999C;
}

.toolbar {
    height: 100%;
}

.textContainer {
    margin-right: 15px;
    margin-left: 15px;
}

.userName {
    color: #614C4C;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: start;
    margin: 0;
}

@media (max-width: 899px) {

    // position: fixed;
    .breadCrumbsContainer {
        margin-left: 303px !important;
    }
}